<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PythonPath" value="E:\Users\HEWITT\AppData\Local\Programs\Python\Python39\python.exe" />
    <add key="ScriptPath" value="E:\PyWinAutoSamples\" />
  </appSettings>
</configuration>